div{
	padding: 10px;


}

div.remove {
	border-style: solid;
	color: red;
	position:static;
	top:50px;
	left:50px;
	float:left;

	
}

div.notCompleted {
	border-style: solid;
	color: green;
	position:static;
	top:50px;
	left:50px;
	float:left;



}

div.completed{
	border-style: solid;
	color: green;
	position:static;
	top:50px;
	left:50px;
	float:left;


}

div.task{

	position:relative;

}

div.taskDetail{

	color:blue;
	font-style: Arial;
	font-size: 30px;

}